# Virtual environments
.env
myenv/
venv/
.env.streamlit

# Python cache
logs/
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment variables / secrets
private.py

# Airflow
airflow.db
airflow.cfg
.airflow/

# VS Code
.vscode/
.idea/

# Streamlit
.streamlit/secrets.toml
.streamlit


# OS junk
.DS_Store
Thumbs.db

# temp files
old_terminal_commands.txt


# Docker
postgres_data/

# Cache
.pytest_cache/