# Virtual environments
.env
myenv/
venv/

# Python cache
logs/
__pycache__/
*.pyc

# Environment variables / secrets
private.py

# Airflow
airflow.db
airflow.cfg
.airflow/

# VS Code
.vscode/

# OS junk
.DS_Store
Thumbs.db

# temp files
old_terminal_commands.txt